<div>
    <h2 id="page-heading">
        <span>Proveedors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proveedor-mui" [routerLink]="['/proveedor-mui/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Proveedor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="proveedors">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="direccionId"><span>Direccion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="personaId"><span>Persona</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="usuarioId"><span>Usuario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proveedor of proveedors ;trackBy: trackId">
                <td><a [routerLink]="['/proveedor-mui', proveedor.id, 'view' ]">{{proveedor.id}}</a></td>
                <td>
                    <div *ngIf="proveedor.direccionId">
                        <a [routerLink]="['../direccion-mui', proveedor.direccionId , 'view' ]" >{{proveedor.direccionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="proveedor.personaId">
                        <a [routerLink]="['../persona-mui', proveedor.personaId , 'view' ]" >{{proveedor.personaId}}</a>
                    </div>
                </td>
                <td>
                    {{proveedor.usuarioId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/proveedor-mui', proveedor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proveedor-mui', proveedor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'proveedor-mui/'+ proveedor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="proveedors && proveedors.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
