<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-direccion-mui-heading">Create or edit a Direccion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!direccion.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="direccion.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_calle">Calle</label>
                    <input type="text" class="form-control" name="calle" id="field_calle"
                        [(ngModel)]="direccion.calle" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                        [(ngModel)]="direccion.numero" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_colonia">Colonia</label>
                    <input type="text" class="form-control" name="colonia" id="field_colonia"
                        [(ngModel)]="direccion.colonia" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cp">Cp</label>
                    <input type="text" class="form-control" name="cp" id="field_cp"
                        [(ngModel)]="direccion.cp" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_municipio">Municipio</label>
                    <input type="text" class="form-control" name="municipio" id="field_municipio"
                        [(ngModel)]="direccion.municipio" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_estado">Estado</label>
                    <input type="text" class="form-control" name="estado" id="field_estado"
                        [(ngModel)]="direccion.estado" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
